<div class="row">
  <div class="col-md-3 space-sm-4">
    <div class="sidenav">
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <%= link_to t("edit_profile"), edit_user_registration_path,
            {class: "sidenav-item"}%>
        </li>
      </ul>
    </div>
    <%= link_to t("view_profile"), @user,
      {class: "btn btn-normal space-top-4"} %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "edit_profile" %>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name,
          url: registration_path(resource_name),
          html: { method: :put, class: "form-horizontal"}) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label t("name"), class: "control-label col-md-3" %>
            <div class="col-md-6">
              <%= f.text_field :name, placeholder: t("name"),
                class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label t("phone_number"), class: "control-label col-md-3" %>
            <div class="col-md-6">
              <%= f.text_field :phone_number, placeholder: t("phone_number"),
                class: "form-control" %>
            </div>
          </div>
          <%= f.submit t("save"), class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
